@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Montserrat:wght@700;900&display=swap');

@media (min-width: 768px) {
  .navbar-nav.navbar-center, .navbar-header-center {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

/* COLORS:

red - #BD391C
yellow - #F4AA1A
green - 81C880
blue - #7E8ACB
purple - #8D5D7D

*/

body {
  font-family: 'Cardo', serif;
}

nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3, .h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navbar-brand {
  font-size: 36px;
  letter-spacing: 15px;
}

.nav-link {
  /* I wonder why background-size does not work with a solid color */
  background: linear-gradient(currentColor, currentColor) bottom / 0 3px no-repeat;
  transition: .4s background-size ease;
}

.nav-link:hover {
  background-size: 100% 3px;
}

.nav > .active {
  background: linear-gradient(currentColor, currentColor) bottom / 100% 3px no-repeat;
}

.img-fluid {
  max-width: 700px;
  width: 100%;
}

.figure {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.figure-caption {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
}

#about-content, #contact-content {
  max-width: 700px;
  width: 100%;
}

.card-title, .btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.stretched-link {
  display: hidden;
}

.btn-overlay {
  background-color: white;
  border-color: white !important;
}

.btn-purple {
  color: #8D5D7D;
  border-color: #8D5D7D;
}

.btn-purple:hover {
  color: white;
  background-color: #8D5D7D;
  border-color: #8D5D7D !important;
}

.btn-green {
  color: #81C880;
  border-color: #81C880;
}

.btn-green:hover {
  color: white;
  background-color: #81C880;
  border-color: #81C880 !important;
}

.btn-blue {
  color: #7E8ACB;
  border-color: #7E8ACB;
}

.btn-blue:hover {
  color: white;
  background-color: #7E8ACB;
  border-color: #7E8ACB !important;
}
